<div class="card-body mt-3 mb-3">
    <form method="post" action="{% url 'adverts:comment-create' %}">
        {% csrf_token %}
        <div class="form-group">
            {{ form.author }}
        </div>
        <div class="form-group">
            {{ form.email }}
        </div>
        <div class="form-group">
            {{ form.text }}
        </div>
        {{ form.advert }}
        {{ form.parent }}
        <button type="submit" class="btn {{ cs.form.btn.color }}">Создать комментарий</button>
    </form>
</div>