<div class="card mb-3" id="comments">
    <div class="card-body">
        <h3 class="title mt-3 mb-4">Комментарии</h3>
        {% for comment in advert_comments %}
            <div class="card-body__comment mt-3 offset-md-{{ comment.get_level }}">
                <div class="card-body__comment__header mb-1">
                    <ul class="list-inline">
                        <li class="list-inline-item text-muted">
                            <i class="fas fa-user-circle"></i>
                            <strong>{{ comment.author }}</strong>
                        </li>
                        <li class="list-inline-item text-body">
                            <i class="far fa-calendar-alt"></i>
                            <time title="{{ comment.created_at|date:"c" }}">
                                {{ comment.created_at|date:"j E Y" }}
                                <small class="text-muted">в {{ comment.created_at|date:"H:i" }}</small>
                            </time>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fas fa-reply"></i>
                                Ответить
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-body__comment__text">
                    <p>{{ comment.text|urlize }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    {% include "blocks/advert/comments/_form.html" %}
</div>