/* General
============================================================================= */
body { background-color: #f0f0f0; font-family: 'Roboto', 'Arial', sans-serif; }
ul { margin-bottom: 0; }

/* Navbar
============================================================================= */
.navbar { border: 1px solid #e7e7e7; }
.navbar-light .navbar-nav .nav-link { font-weight: 500; }
.navbar-light .navbar-nav .active>.nav-link { color: #0056b3; }
.bg-light { background-color: #fff!important; }
.navbar-brand {
    text-transform: uppercase;
    font-weight: bold;
    /*background-color: #007bff;*/
    background-color: #f12446;
    background-image: linear-gradient(45deg, #f12446 30%, #007bff 60%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

/* Card
============================================================================= */
.card { border: none; }
.card-header { background-color: transparent; border-bottom: none; }
.card-body { padding: 0 1.25rem 0 1.25rem; }
.card-body > .title { line-height: 1; font-size: 1.38rem; }
.card-body > .title > a { color: #212529; }
.card-body > .title > a:hover, a:focus { color: #212529; text-decoration: underline; }
.card-body > .text { font-size: 0.92rem; }
.card-footer { background-color: transparent; border-top: none; }
.card-footer > .list-inline > .list-inline-item > .btn-outline-light { color: #212529; border-color: #e6e6e6; }
.card-footer > .list-inline > .list-inline-item > .badge { font-size: 85%; }
.card-footer > .list-inline > .list-inline-item > .badge-pill { padding-left: .9em; padding-right: .9em }

/* List group
============================================================================= */
h5.list-group-item { margin-bottom: 0; }
.list-group-item:first-child { border-top: none; }
.list-group-item:last-child { border-bottom: none; }
.list-group-item { border: none; border-top: 1px solid rgba(0,0,0,.125); border-bottom: 1px solid rgba(0,0,0,.125); }

/* Sidebar Comments
============================================================================= */
.on-air { font-size: 0.5rem; vertical-align: 0.215rem; margin-right: 0.25rem; }
.list-group-item > .comment__text { font-size: 0.9rem; }
.list-group-item > .comment__text > a { text-decoration: none; color: #212529; }
.list-group-item > .comment__text > a.comment__link:focus, a.comment__link:hover { color: #0056b3; text-decoration: none; }
.list-group-item > .comment__advert > a { font-size: 0.9rem; text-decoration: underline; line-height: 1.1; }
.category-item > i { color: #007bff; }

/* Similar Adverts
============================================================================= */
.list-group-item > h3 { font-size: 1.38rem; }
.list-group-item > h4 { font-size: 1.3rem; line-height: 1.1; }
.list-group-item > .list-group-item__text { font-size: 0.9rem; }

/* Comments
============================================================================= */
.card-body__comment__header > .list-inline { font-size: 0.9rem; }
.card-body__comment__text > p { font-size: 0.954rem; }

/* Progress bar
============================================================================= */
.progress { height: .2rem; border-top-left-radius: 0; border-top-right-radius: 0; }
.js-field_text { border-bottom-left-radius: 0; border-bottom-right-radius: 0; outline: none; }
.char-counter { font-size: .85rem; }

/* Jumbotron
============================================================================= */
.jumbotron { margin-bottom: 0; padding: 2rem 2rem; }
.j-card { background-color: #e9ecef; }
.j-card-body { padding: 0 0.5rem 0 0.5rem; }

/* Footer
============================================================================= */
.footer { padding: 2rem 0 2rem 0; background-color: #fff!important; }

/* Helpers
============================================================================= */
.on-air-rec { color: #cd192e; }
.figure-full-width { margin: 0 -1.25rem; }