{% load addstr %}
{% load thumbnail %}

<div class="card mb-3">
    {% include "blocks/blog/_header.html" %}
    <div class="card-body">
        <h1 class="title">
            {{ post.title }}
        </h1>
        <figure class="mb-2 mt-3">
            {% thumbnail post.poster "x700" as im %}
                <img src="{{ im.url }}" class="img-fluid" alt="{{ post.title }}">
            {% endthumbnail %}
        </figure>
        <div class="ads mb-3">
            {% with "blocks/scripts/"|add_str:site_name|add_str:"/adsense/_media_detail_advert_horizontal.html" as ads_detail %}
                {% include ads_detail %}
            {% endwith %}
        </div>
        <div class="text">
            {% autoescape off %}
                {{ post.text|linebreaksbr }}
            {% endautoescape %}
        </div>
    </div>
    {% include "blocks/blog/_footer_detail.html" %}
</div>
