{% load thumbnail %}
{% load addstr %}

{% for post in posts %}
    <div class="card mb-3">
        {% include "blocks/blog/_header.html" %}
        <div class="card-body">
            <h2 class="title">
                <a href="{{ post.get_absolute_url }}">
                    {{ post.title }}
                </a>
            </h2>
            <figure class="figure-full-width mb-3 mt-3">
                <a href="{{ post.get_absolute_url }}">
                    {% thumbnail post.poster "x700" as im %}
                        <img src="{{ im.url }}" class="img-fluid" alt="{{ post.title }}">
                    {% endthumbnail %}
                </a>
            </figure>
            <div class="text">
                {% autoescape off %}
                    {% if post.short_intro %}
                        {{ post.short_intro }}
                    {% else %}
                        {{ post.text|truncatechars_html:200 }}
                    {% endif %}
                {% endautoescape %}
            </div>
        </div>
        {% include "blocks/blog/_footer.html" %}
    </div>
    {% if forloop.counter == 1 %}
        <div class="card ads mb-3">
            <div class="card-body">
                {% with "blocks/scripts/"|add_str:site_name|add_str:"/adsense/_media_detail_advert_horizontal.html" as ads_detail %}
                    {% include ads_detail %}
                {% endwith %}
            </div>
        </div>
    {% endif %}
{% endfor %}
