<div class="card-footer">
    <ul class="list-inline">
        <li class="list-inline-item">
            <i class="far fa-eye"></i>
            Просмотров
            {{ post.hit_count }}
        </li>
    </ul>
</div>