<div class="card-footer">
    <ul class="list-inline">
        <li class="list-inline-item">
            <a href="{{ post.get_absolute_url }}" class="btn {{ cs.card_footer.btn.style }}">
                Читать далее
                <sub><i class="fas fa-ellipsis-h"></i></sub>
            </a>
        </li>
        <li class="list-inline-item">
            <i class="far fa-eye"></i>
            {{ post.hit_count }}
        </li>
    </ul>
</div>