<div class="card-header">
    <ul class="list-inline">
        <li class="list-inline-item">
            <i class="far fa-calendar-alt"></i>
            <time title="{{ post.created_at|date:"c" }}">
                {{ post.created_at|date:"j E Y" }}
                <small class="text-muted">в {{ post.created_at|date:"H:i" }}</small>
            </time>
        </li>
        <li class="list-inline-item">
            <ul class="list-inline">
                <li class="list-inline-item"><i class="fas fa-tags"></i></li>
                {% for tag in post.tags.all %}
                    <li class="list-inline-item">
                        <a href="{% url 'blogs:by_tag' tag.slug_name %}">{{ tag.name }}</a>
                        {% if not forloop.last %},{% endif %}
                    </li>
                {% endfor %}
            </ul>
        </li>
    </ul>
</div>