<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>{{ category.name }}</h4>
                <p class="lead">{{ category.description }}</p>
            </div>
        </div>
    </div>
</div>