{% load thumbnail %}

<div class="jumbotron most-viewed mt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center mb-4">
                    <i class="fas fa-fire on-air-rec"></i>
                    Самый просматриваемый материал
                </h3>
            </div>
        </div>
        <div class="row">
            {% for blog_post in viewed_blog_posts %}
                <div class="col-md-4">
                    <div class="card j-card">
                        <a href="{{ blog_post.get_absolute_url }}">
                            {% thumbnail blog_post.poster "x350" as im %}
                                <img class="card-img-top" src="{{ im.url }}" alt="{{ blog_post.title }}">
                            {% endthumbnail %}
                        </a>
                        <div class="card-body j-card-body mt-3">
                            <h4 class="card-title">
                                <i class="fas fa-bookmark"></i>
                                <a href="{{ blog_post.get_absolute_url }}">
                                    {{ blog_post.title }}
                                </a>
                            </h4>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <time class="{{ blog_post.created_at|date:"c" }}">
                                        <i class="far fa-calendar-alt"></i>
                                        {{ blog_post.created_at|date:"j E Y" }} в {{ blog_post.created_at|date:"H:i" }}
                                    </time>
                                </li>
                                <li class="list-inline-item">
                                    <i class="fa fa-eye"></i>
                                    {{ blog_post.hit_count }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

