<div class="adbmsg"></div>
<div class="list-group mb-3">
    <h5 class="list-group-item">Категории</h5>
    {% for category in categories %}
        <a href="{% url "adverts:category-list" category.slug_name %}"
           class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            <div class="category-item">
                <i class="fas fa-folder mr-1"></i>
                {{ category.name }}
            </div>
            <span class="badge {{ cs.sidebar.badge.style }} {{ cs.sidebar.badge.color }}">{{ category.count_of_adverts }}</span>
        </a>
    {% endfor %}
</div>
