<div class="list-group last-comments">
    <h5 class="list-group-item">
        <i class="fas fa-circle on-air"></i>
        Комментарии объявлений
        {% csrf_token %}
    </h5>
    {% for comment in adverts_comments %}
        <div class="list-group-item comment">
            <div class="comment__author">
                <h6>
                    <i class="fa fa-user-circle"></i>
                    {{ comment.author }}
                </h6>
            </div>
            <div class="comment__text mb-3">
                <a href="{{ comment.advert.get_absolute_url }}#{{ comment.id }}" class="mb-2 comment__link">
                    {{ comment.text|linebreaks }}
                </a>
            </div>
            <div class="comment__advert">
                <a href="{{ comment.advert.get_absolute_url }}">{{ comment.advert.title }}</a>
            </div>
            <small class="text-muted">
                <i class="far fa-calendar-alt"></i>
                <time title="{{ comment.created_at|date:"c" }}">
                    {{ comment.created_at|date:"j E Y" }} в {{ comment.created_at|time:"H:i"}}
                </time>
            </small>
        </div>
    {% empty %}
        <div class="list-group-item comment">
            <div class="comment__text mb-3">
                Ваши объявления пока не комментировали
            </div>
        </div>
    {% endfor %}
</div>