{% for extra_comment in extra_comments %}
    <div class="list-group-item comment">
        <div class="comment__author">
            <h6>
                <i class="fa fa-user-circle"></i>
                {{ extra_comment.author }}
            </h6>
        </div>
        <div class="comment__text mb-3">
            <a href="{{ extra_comment.advert.get_absolute_url }}#{{ extra_comment.id }}" class="mb-2 comment__link">
                {{ extra_comment.text|linebreaks }}
            </a>
        </div>
        <div class="comment__advert">
            <a href="{{ extra_comment.advert.get_absolute_url }}">{{ extra_comment.advert.title }}</a>
        </div>
        <small class="text-muted">
            <i class="far fa-calendar-alt"></i>
            <time title="{{ extra_comment.created_at|date:"c" }}">
                {{ extra_comment.created_at|date:"j E Y" }} в {{ extra_comment.created_at|time:"H:i"}}
            </time>
        </small>
    </div>
{% endfor %}
