{% load addstr %}

<div class="list-group">
    <div class="list-group-item">
        {% with "blocks/scripts/"|add_str:site_name|add_str:"/adsense/_media_sidebar_right.html" as ads_sidebar %}
            {% include ads_sidebar %}
        {% endwith %}
    </div>
</div>