 <div class="card mb-3">
    <div class="card-body mt-3 mb-3">
        <h1>Добавление объявления</h1>
        <h3>Подайте объявление для публикации на портале:</h3>
        <ul class="list-unstyled">
            <li>&mdash;&nbsp;Заполните форму ниже на данной странице</li>
            <li>&mdash;&nbsp;Не забудьте выбрать категорию, в которой будет размещаться Ваше объявление, озаглавьте и введите текст объявления, укажите контактную информацию для связи с посетителями портала, отправить на модерацию</li>
        </ul>
        <div class="card text-dark bg-light mt-3">
            <div class="card-body mt-3 mb-3">
                <h5 class="card-title">
                    <i class="fas fa-exclamation-circle"></i>
                    Внимание!
                </h5>
                <p class="card-text">Ваше объявление перед публикацией на портале пройдет модерацию.</p>
                <p class="card-text">Идентичные объявления и объявления с контактной информацией в поле <mark>"Текст Вашего объявления"</mark> будут удалены.</p>
            </div>
        </div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <form action="{% url 'adverts:advert-create' %}" method="post" class="mt-3">
            {% csrf_token %}
            {% for field in form.visible_fields %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.name == 'text' %}
                        <div class="progress">
                            <div class="progress-bar char-counter-bar"
                                 role="progressbar"
                                 aria-valuenow="0"
                                 aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                        <span class="char-counter float-right mt-1"></span>
                    {% endif %}
                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="btn {{ cs.form.btn.color }}">Отправить на модерацию</button>
        </form>
    </div>
</div>