{% load static %}

<div class="form-label-group">
    {{ field }}
    <label for="{{ field.field.widget.attrs.id }}">{{ label }}</label>
</div>
<div class="invalid-feedback">
   {% if field.errors %}
        {% for error in field.errors %}
            {{ error|escape }}
        {% endfor %}
    {% endif %}
</div>