{% load thumbnail %}
<title>{{ page_meta.title }}</title>
<meta name="description" content="{{ page_meta.description }}">
{% if page_meta.keywords %}
    <meta name="keywords" content="{% for k in page_meta.keywords %}{{ k }}{% if not forloop.last %}, {% endif %}{% endfor %}">
{% endif %}
<meta property="og:title" content="{{ page_meta.title }}">
<meta property="og:description" content="{{ page_meta.description }}">
<meta property="og:type" content="{{ page_meta.type }}">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
{% if page_meta.img %}
    <meta property="og:image" content="{% thumbnail page_meta.img "x350" as i %}{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{{ i.url }}{% endthumbnail %}">
{% endif %}
<meta property="og:site_name" content="{{ request.get_host }}">