<footer class="footer {{ cs.footer.background_color }} text-body">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <ul class="list-unstyled">
                    <li><h5>Разделы</h5></li>
                    <li>
                        <a href="{% url 'adverts:adverts-list' %}" class="{{ cs.footer.link_color }}">
                            Объявления
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'blogs:list' %}" class="{{ cs.footer.link_color }}">Статьи</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="list-unstyled">
                    <li><h5>Категории</h5></li>
                    {% for c in categories %}
                        <li>
                            <a href="{% url "adverts:category-list" c.slug_name %}" class="{{ cs.footer.link_color }}">{{ c.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
        </div>
    </div>
</footer>