<nav class="navbar navbar-expand-lg {{ cs.navbar.color }} {{ cs.navbar.background_color }} mb-4">
    <a class="navbar-brand" href="{% url 'adverts:adverts-list' %}">{{ site_name }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            {% with request.resolver_match.view_name as vn %}
                {% if request.user.is_authenticated %}
                    <li class="nav-item {% if vn == 'users:profile' or vn == 'users:city-list' or vn == 'users:category-list' or vn == 'users:user-list' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'users:profile' request.user.pk %}">Личный кабинет</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:login' %}">Личный кабинет</a>
                    </li>
                {% endif %}
                <li class="nav-item {% if vn == 'adverts:adverts-list' or vn == 'adverts:category-list' or vn == 'adverts:city-list' or vn == 'adverts:user-list' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'adverts:adverts-list' %}">
                        Объявления <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item {% if vn == 'blogs:list' or vn == 'blogs:by_tag' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'blogs:list' %}">Статьи</a>
                </li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:logout' %}">Выход</a>
                    </li>
                {% endif %}
            {% endwith %}
        </ul>
        <form class="form-inline">
            <a href="{% url 'adverts:advert-add' %}" class="btn {{ cs.navbar.btn.color }}">
                <i class="fas fa-pencil-alt"></i>
                Подать объявление
            </a>
        </form>
    </div>
</nav>