{% extends "bases/_auth.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h4>
                    {{ message_subject }}
                </h4>
                <p class="lead">{{ message_content }}</p>
                <div class="enter text-center">
                    <a href="{% url 'users:login' %}">Войти</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}