{% extends "bases/_auth.html" %}

{% load static %}
{% load fields %}

{% block auth_title %}
    <h1 class="h3 mb-3 font-weight-normal auth-header-title">Вход в систему</h1>
{% endblock %}

{% block auth_content %}
    {% floating_label_field form.username %}
    {% floating_label_field form.password %}

    <div class="checkbox text-center mb-3 remember-me-row">
        <label class="remember-me-label">
            {{ form.remember_me }}Запомнить меня
        </label>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Вход в систему</button>
    <div class="text-center registration-row mt-3">
        <a href="{% url 'users:registration' %}">Регистрация</a>
    </div>
    <div class="text-center mt-3">
        <a href="#">Забыли пароль?</a>
    </div>
{% endblock %}