{% extends "bases/_auth.html" %}

{% load fields %}

{% block auth_title %}
    <h1 class="h3 mb-3 font-weight-normal auth-header-title">Регистрация в системе</h1>
{% endblock %}

{% block auth_content %}
    {% floating_label_field form.email %}
    {% floating_label_field form.password %}
    {% floating_label_field form.password_repeat %}
{#    {{ form.email }}#}
{#    {{ form.password }}#}
{#    {{ form.password_repeat }}#}

    <button class="btn btn-lg btn-primary btn-block" type="submit">Регистрация</button>
    <div class="text-center registration-row mt-3">
        <a href="{% url 'users:login' %}">Вход в систему</a>
    </div>
{% endblock %}