<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/examples/floating-labels/floating-labels.css">
        {% block static_styles %}
            {% include 'blocks/styles/auth/_styles.html' %}
        {% endblock %}

        <title>Вход</title>
    </head>
    <body>

        {% block content %}
            <form class="form-signin" method="POST">
                {% csrf_token %}

                {% block auth_header %}
                    <div class="text-center mb-4">
                        <h1 class="h3 mb-3 font-weight-normal">{{ site_name }}</h1>

                        {% block auth_title %}
                        {% endblock %}

                        <p><code>{% include 'blocks/forms/non_field_errors.html' with form=form only %}</code></p>
                        <p><code>{% include 'blocks/forms/fields_errors.html' with form=form only %}</code></p>
                    </div>
                {% endblock %}

                {% block auth_content %}
                {% endblock %}

                {% block auth_footer %}
                    <p class="mt-5 mb-3 text-muted text-center">© {{ request.get_host }}, {% now 'Y' %}</p>
                {% endblock %}
            </form>
        {% endblock %}


        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>

    </body>
</html>