{% extends "base.html" %}


{% block meta_metrics %}
    {% include "blocks/scripts/finalcredit/_meta_yandex.html" %}
{% endblock %}

{% block css %}
    {% include "blocks/styles/finalcredit/_styles.html" %}
{% endblock %}

{% block adsense %}
    {% include "blocks/scripts/finalcredit/_adsense.html" %}
{% endblock %}

{% block title %}
    {% include "blocks/_title.html" %}
{% endblock %}

{% block markup %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                {% block content %}
                {% endblock %}
            </div>
            <div class="col-md-3">
                {% include "blocks/sidebar_left.html" %}
            </div>
            <div class="col-md-3">
                {% include "blocks/sidebar_right.html" %}
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {% include "blocks/scripts/_js.html" %}
    {% include "blocks/scripts/finalcredit/_metrika.html" %}
{% endblock %}