{% extends "base.html" %}

{% block css %}
    {% include "blocks/styles/megazaym/_styles.html" %}
{% endblock %}

{% block markup %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                {% block content %}
                {% endblock %}
            </div>
            <div class="col-md-3">
                {% include "blocks/sidebar_left.html" %}
            </div>
            <div class="col-md-3">
                {% include "blocks/sidebar_right.html" %}
            </div>
        </div>
    </div>
{% endblock %}