{% load static %}

<script src="{% static "js/common.js" %}"></script>
<script>
    $(document).ready(function() {
        boards.getExtraComments();
        boards.emulateRecordSigh(".on-air");
        {% if request.resolver_match.view_name == 'adverts:advert-add' %}
            boards.calculateTextProgress("#id_text");
        {% endif %}
        boards.checkAdBlock();
    });
</script>