<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block meta_metrics %}
        {% endblock %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700&amp;subset=cyrillic-ext,latin-ext" rel="stylesheet">
        {% block css %}
        {% endblock %}
        {% block adsense %}
        {% endblock %}
        {% block title %}
        {% endblock %}
    </head>
    <body>
        {% include "blocks/navbar.html" with cs=color_scheme site_name=site_name request=request only %}

        {% block markup %}
        {% endblock %}

        {% include "blocks/jumbotrons/_most_viewed_blog_posts.html" %}
        {% include "blocks/jumbotrons/_category_description.html" %}
        {% include "blocks/footer.html" with cs=color_scheme %}
        {% load static %}
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="{% static "js/jquery-3.5.1.min.js" %}"><\/script>');</script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script>if(typeof(Popper) === 'undefined') {document.write('<script src="{% static "js/popper.min.js" %}"><\/script>')}</script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <script>$.fn.modal || document.write('<script src="{% static "js/bootstrap.min.js" %}"><\/script>')</script>
        <div id="bootstrap_fallback_class" class="collapse"></div>
        <script>
          $(function() {
            if ($('#bootstrap_fallback_class').is(":visible")) {
              $("head").prepend('<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">');
            }
          });
        </script>
        <script src="https://kit.fontawesome.com/6e5c91838c.js" crossorigin="anonymous"></script>
        {% block js %}
        {% endblock %}
    </body>
</html>