/* General
============================================================================= */
body { background-color: #f0f0f0; font-family: 'Roboto', 'Arial', sans-serif; }
ul { margin-bottom: 0; }


/* Card
============================================================================= */
h5.list-group-item { margin-bottom: 0; }
.card { border: none; }
.card-header { background-color: transparent; border-bottom: none; }
.card-body { padding: 0 1.25rem 0 1.25rem; }
.card-body > .title { line-height: 1.1; font-size: 1.5rem; }
.card-body > .title > a { color: #212529; }
.card-body > .text { font-size: 0.92rem; }
.card-footer { background-color: transparent; border-top: none; }
.card-footer > .list-inline > .list-inline-item > .badge { font-size: 89%; }
.card-footer > .list-inline > .list-inline-item > .badge-pill { padding-left: .7em; padding-right: .7em; }


/* List group
============================================================================= */
.list-group-item:first-child { border-top: none; }
.list-group-item:last-child { border-bottom: none; }
.list-group-item { border: none; border-top: 1px solid rgba(0,0,0,.125); border-bottom: 1px solid rgba(0,0,0,.125); }


/* Sidebar Comments
============================================================================= */
.on-air { font-size: 0.5rem; vertical-align: 0.215rem; margin-right: 0.25rem; }
.list-group-item > .comment__text { font-size: 0.9rem; }
.list-group-item > .comment__text > a { text-decoration: none; color: #212529; }
.list-group-item > .comment__text > a.comment__link:focus, a.comment__link:hover { color: #0056b3; text-decoration: none; }
.list-group-item > .comment__advert > a { font-size: 0.9rem; text-decoration: underline; line-height: 1.1; }


/* Jumbotron
============================================================================= */
.jumbotron { margin-bottom: 0; }
.j-card { background-color: #e9ecef; }
.j-card-body { padding: 0 0.5rem 0 0.5rem; }


/* Footer
============================================================================= */
.footer { padding: 1rem 0 2rem 0; }