<table class="table table-borderless table-sm mt-3">
    <tbody>
        <tr>
            <th scope="row">Телефон</th>
            <td>
                <a href="tel:{{ advert.phone }}">{{ advert.phone }}</a>
            </td>
        </tr>
        <tr>
            <th scope="row">ФИО</th>
            <td>{{ advert.fio }}</td>
        </tr>
        <tr>
            <th scope="row">Email</th>
            <td>
                <a href="mailto:{{ advert.email }}">{{ advert.email }}</a>
            </td>
        </tr>
        {% if advert.user_url %}
            <tr>
                <th scope="row">URL</th>
                <td>{{ advert.user_url|urlize }}</td>
            </tr>
        {% endif %}
        {% if advert.address %}
            <tr>
                <th scope="row">Адрес приема</th>
                <td>{{ advert.address }}</td>
            </tr>
        {% endif %}
        {% if advert.skype %}
            <tr>
                <th scope="row">Skype</th>
                <td>{{ advert.skype }}</td>
            </tr>
        {% endif %}
    </tbody>
</table>