{% load addstr %}

<div class="card mb-3">
    {% include "blocks/advert/_header.html" %}
    <div class="card-body">
        <h1 class="title">{{ advert.title }}</h1>
        {% autoescape on %}
            {{ advert.text|linebreaksbr }}
        {% endautoescape %}
        {% with "blocks/scripts/"|add_str:site_name|add_str:"/adsense/_media_detail_advert_horizontal.html" as ads_detail %}
            {% include ads_detail %}
        {% endwith %}
        {% include "blocks/advert/_additional_info.html" %}
    </div>
    {% include "blocks/advert/_footer_detail.html" %}
</div>