{% load addstr %}

{% for advert in adverts %}
    <div class="card mb-3">
        {% include "blocks/advert/_header.html" %}
        <div class="card-body">
            <h2 class="title">
                <a href="{{ advert.get_absolute_url }}">
                    {{ advert.title }}
                </a>
            </h2>
            <div class="text">
                {{ advert.text|linebreaksbr }}
            </div>
        </div>
        {% include "blocks/advert/_footer.html" %}
    </div>
    {% if forloop.counter == 3 %}
        <div class="card ads mb-3">
            <div class="card-body">
                {% with "blocks/scripts/"|add_str:site_name|add_str:"/adsense/_feed_adverts_list.html" as ads_detail %}
                    {% include ads_detail %}
                {% endwith %}
            </div>
        </div>
    {% endif %}
{% endfor %}