<div class="card-footer">
    <ul class="list-inline">
        <li class="list-inline-item">
            <i class="fas fa-hashtag"></i>
            {% with url_pattern_for.category_list as category_list  %}
                <a href="{% url category_list advert.category.slug_name %}">
                    {{ advert.category.name }}
                </a>
            {% endwith %}
        </li>
        <li class="list-inline-item">
            <i class="far fa-eye"></i>
            {{ advert.hit_count }}
        </li>
        <li class="list-inline-item">
            <i class="fas fa-comments"></i>
            {{ advert_comments|length }}
        </li>
    </ul>
</div>