<div class="card-footer">
    <ul class="list-inline">
        <li class="list-inline-item">
            <a href="{{ advert.get_absolute_url }}" class="btn {{ cs.card_footer.btn.style }}">
                Подробнее
                <sub><i class="fas fa-ellipsis-h"></i></sub>
            </a>
        </li>
        <li class="list-inline-item">
            {% with url_pattern_for.category_list as category_list  %}
                <a href="{% url category_list advert.category.slug_name %}" class="badge {{ cs.card_footer.badge.style }} {{ cs.card_footer.badge.color }}">
                    {{ advert.category.name }}
                </a>
            {% endwith %}
        </li>
        <li class="list-inline-item">
            <i class="far fa-eye"></i>
            {{ advert.hit_count }}
        </li>
        <li class="list-inline-item">
            <a href="{{ advert.get_absolute_url }}#comments">
                <i class="fas fa-comments"></i>
                {{ advert.number_of_comments }}
            </a>
        </li>
    </ul>
</div>