<div class="card-header">
    <ul class="list-inline">
        {% include "blocks/advert/_status_icons.html" %}
        <li class="list-inline-item">
            <i class="far fa-calendar-alt"></i>
            <time title="{{ advert.created_at|date:"c" }}">
                {% if advert.is_vip or advert.is_pin %}
                    {{ advert.created_at|date:"j E Y" }}
                {% else %}
                    {{ advert.created_at|date:"j E Y" }}
                    <small class="text-muted">в {{ advert.created_at|date:"H:i" }}</small>
                {% endif %}
            </time>
        </li>
        <li class="list-inline-item">
            {% with url_pattern_for.user_list as user_list  %}
                <a href="{% url user_list advert.fio %}">
                    <i class="fas fa-user-circle"></i>
                    {{ advert.fio }}
                </a>
            {% endwith %}
        </li>
        <li class="list-inline-item">
            {% with url_pattern_for.city_list as city_list  %}
                <a href="{% url city_list advert.city.slug_name %}">
                    <i class="fas fa-map-marker-alt"></i>
                    {{ advert.city }}
                </a>
            {% endwith %}
        </li>
    </ul>
</div>