{% load addstr %}

<div class="list-group">
    <div class="list-group-item">
        <h3 class="mb-0">Похожие публикации</h3>
    </div>
    {% for advert in similar_adverts %}
        <a class="list-group-item list-group-item-action" href="{{ advert.get_absolute_url }}">
            <h4>{{ advert.title }}</h4>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <small class="text-muted">
                        <i class="far fa-calendar-alt" aria-hidden="true"></i>
                        <time title="{{ advert.created_at|date:"c" }}">
                            {{ advert.created_at|date:"j E Y" }} в {{ advert.created_at|date:"H:i" }}
                        </time>
                    </small>
                </li>
                <li class="list-inline-item">
                    <small class="text-muted">
                        <i class="fas fa-comments"></i>
                        {{ advert.number_of_comments }}
                    </small>
                </li>
                <li class="list-inline-item">
                    <small class="text-muted">
                        <i class="far fa-eye"></i>
                        {{ advert.hit_count }}
                    </small>
                </li>
            </ul>
        </a>
        {% if forloop.counter == 1 %}
            {% with "blocks/scripts/"|add_str:site_name|add_str:"/adsense/_feed_similar_adverts.html" as similar_feed_adv %}
                <div class="list-group-item list-group-item-action">
                    {% include similar_feed_adv %}
                </div>
            {% endwith %}
        {% endif %}
    {% endfor %}
</div>