{% if advert.is_premium %}
    <li class="list-inline-item">
        <i class="fas fa-award text-success"></i>
    </li>
{% elif advert.is_vip %}
    <li class="list-inline-item">
        <i class="fas fa-star text-warning"></i>
    </li>
{% elif advert.is_pin %}
    <li class="list-inline-item">
        <i class="fas fa-thumbtack"></i>
    </li>
{% endif %}
